.origin {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  &-solid {
    background-color: $primary;
  }
  &-hollow {
    border: 2px solid $light;
  }
}
.line {
  width: 85%;
  height: 2px;
  &-carryOut {
    border: 1px solid $primary;
  }
  &-undone {
    border: 1px solid $light;
  }
}
.stepName {
  color: $primary;
  position: absolute;
  top: 35px;
  right: -18px;
}
.bg{
  height: 585px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  &-desk{
    background-image: url(../../assets/images/desk.jpg);
  }
  &-Shuwen{
    background-image: url(../../assets/images/Shuwen.png);
  }
  &-worship{
    background-image: url(../../assets/images/worship.gif);
  }
}
.a{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.b{
  opacity: 0;
}
@media (max-width: 991.98px) {
  .line {
    width: 68%;
  }
}
@media (max-width: 767.98px) {
  .line {
    width: 56%;
  }
}

@include media-breakpoint-down(sm) { 
  .worship{
    &-btn{
      display: block;
      width: 100%;
    }
    &-sacrifice{
      height: 20px;
      width: 20px;
    }
    &-thanks-text{
      font-size: 1.25rem;
    }
  }
  .bg{
    height: 185px;
  }
}