@font-face {
  font-family: "思源纖⿊";
  src: url("assets/font/NotoSansTC-Thin.otf");
  font-display: swap;
}
@font-face {
  font-family: "思源中⿊";
  src: url("assets/font/NotoSansTC-Regular.otf");
  font-display: swap;
}
@font-face {
  font-family: "思源特⿊";
  src: url("assets/font/NotoSansTC-Bold.otf");
  font-display: swap;
}
@font-face {
  font-family: "粉圓";
  src: url("assets/font/jf-openhuninn-1.1.ttf");
  font-display: swap;
}
//思源
.text-NotoSerif {
  font-family: "思源纖⿊";
}
.text-NotoSerifMedium {
  font-family: "思源中⿊";
}
.text-NotoSerifBold {
  font-family: "思源特⿊";
}
//粉圓
.text-jf {
  font-family: "粉圓";
}